<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 
  <title>Shiraj`s Drive</title>
      <link rel="icon"  href="/favicon.ico" /> 
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body class="bg-blue-200 min-h-screen p-5">

   
  <h1 class="text-2xl font-bold mb-6 text-4xl">📂 Your Files</h1>
  <button onclick="showpop()" 
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-5 absolute top-4 right-24 text-2xl mb-4 rounded">
      Upload File
     </button>

  <% if (!files || files.length === 0) { %>
    <p class="text-gray-600">No files uploaded yet.</p>
  <% } else { %>

  <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-6">
    <% files.forEach(file => { %>
      <div class="bg-gray-400 p-4 rounded border-black shadow-xs ">

   <% if (file.fileType && file.fileType.startsWith('image/')) { %>

          <img src="<%= file.fileUrl %>" 
               class="h-40 w-full object-cover rounded mb-2">
     <% } else if (file.fileType === 'application/pdf') { %>

  <!-- PDF -->
  <div class="h-40 flex items-center flex-col justify-center bg-red-100 rounded mb-2 text-6xl">
    <i class="ri-file-text-line"></i> <p class="text-lg">PDF file</p>
  </div>    
  
      <% } else if (file.fileType && file.fileType.includes('video')) { %>

  <!-- VIDEO ICON -->
  <div class="h-40 flex items-center flex-col justify-center bg-purple-100 rounded mb-2 text-6xl">
    <i class="ri-folder-video-fill"></i> <p class="text-lg">VIDEO</p>
  </div>
     
           <% } else if (file.fileType && file.fileType.includes('zip')) { %>

  <!-- ZIP ICON -->
  <div class="h-40 flex items-center justify-center flex-col bg-yellow-100 rounded mb-2 text-6xl">
    <i class="ri-folder-zip-line"></i> <p class="text-lg">ZIP file</p>
  </div>
    
        <% } else if (file.fileType && file.fileType.includes('mp3')) { %>

  <!-- MP3 ICON -->
  <div class="h-40 flex items-center justify-center flex-col bg-purple-100 rounded mb-2 text-6xl">
    <i class="ri-file-music-line"></i> <p>MP3 file</p>
  </div>
               
        <% } else { %>
          <div class="h-40 flex items-center justify-center bg-gray-200 rounded mb-2 text-4xl">
            <img src="<%= file.fileUrl %>"  class="h-40 w-full object-cover rounded mb-2"/>
              
  
          </div>
        <% } %>

        <p class="text-lg font-semibold truncate"><%= file.fileName %></p>

        <a href="<%= file.fileUrl %>" target="_blank"
           class="text-blue-900 text-lg underline mt-2 inline-block">
          View File
        </a>

        <form action="/delete-file/<%= file._id %>" method="POST"
      onsubmit="return confirm('Delete this file?')">

  <button type="submit"
    class="mt-2 w-full bg-red-500 hover:bg-red-700 text-white font-semibold py-1 rounded">
    🗑 Delete
  </button>

</form>


      </div>
    <% }) %>
  </div>

  <% } %>

     <div class="pop hidden backdrop-blur fixed top-0 left-0 h-screen w-screen  flex items-center justify-center ">
      
      <form action="/files" method="post" enctype="multipart/form-data"> 
<div class="flex items-center text-white bg-gray-700 w-96">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 bg-neutral-secondary-medium border border-dashed border-default-strong rounded-2xl cursor-pointer hover:bg-gray-900 hover:text-black   ">
        <div class="flex flex-col items-center justify-center text-body pt-5 pb-6">
            <svg class="w-8 h-8 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h3a3 3 0 0 0 0-6h-.025a5.56 5.56 0 0 0 .025-.5A5.5 5.5 0 0 0 7.207 9.021C7.137 9.017 7.071 9 7 9a4 4 0 1 0 0 8h2.167M12 19v-9m0 0-2 2m2-2 2 2"/></svg>
            <p class="mb-2 text-sm"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" name="file"/>
    </label>
</div> 
       <button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4" type="submit">
         Upload File
       </button>

        <button onclick="hidepop()" type="button" 
        class="absolute top-4 right-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4 ml-4">
         <i class="ri-close-line"></i> 
        </button>
     </form>
     </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>


<script>

     function showpop(){
      document.querySelector('.pop').style.display = 'flex';    
     } 

     function hidepop(){
      document.querySelector('.pop').style.display = 'none';    
     }

     </script>
</body>

</html>
